@charset "UTF-8";
/* General Reset */
* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/13714538-e319-4cce-9062-6941ce18525d/dihr1kz-55a99c63-b893-4c41-8a94-d0f572b78c5d.png/v1/fill/w_1191,h_671,q_70,strp/the_weather_painter_rainbow__wallpaper__by_nhociory_dihr1kz-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIxIiwicGF0aCI6IlwvZlwvMTM3MTQ1MzgtZTMxOS00Y2NlLTkwNjItNjk0MWNlMTg1MjVkXC9kaWhyMWt6LTU1YTk5YzYzLWI4OTMtNGM0MS04YTk0LWQwZjU3MmI3OGM1ZC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.yNGCxaB52xRvb-9zThDNAqGgHrCRpoFL07r_PPhctvM");
  background-repeat: no-repeat;
  
  background-attachment: fixed;
  background-size: cover;
}

#p1, #p2, #p4 {
  width: 30%;
  color: #FFD6A5;
  text-shadow: 2px 2px 8px black;
  font-size: 22px;
  padding: 1em;
  border-radius: 2em;
  font-family:'Brush Script MT', cursive;
}
#p2 {
  background-color: #967BB6;
}
#p1 {
  background-color: #A7C7E7;
}
#p4 {
  background-color: #F8C8DC;
}
/*Footer Styles */
.footer {
  width: 100%;
  height: 300px;
  color: black;
  text-shadow: 2px 2px 8px black;
  font-size: 1.1em;
}
.navbar { 
  margin-top: 50px;
  font-family:'Brush Script MT', cursive;
  font-size: 2em;
  text-shadow: 2px 2px 8px black;
  list-style-type: none;
  text-align: left;
}
.navbar a{
  color: #9667E0;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar a:hover {
  color: #967BB6;
}
.navbar a:visited {
  color: #FECCFF;
}
.navbar a:active {
  color: #CAFFBF;
}
.navbar li {
  display: list-item;
}
@font-face {
  font-family:'Brush Script MT', cursive;
}
h1 {
  font-family:'Brush Script MT', cursive;
  font-size: 30px;
  padding-left: 20%;
  text-shadow: 3px 3px 3px black;
  color: #8093F1;
}
h2 {
  font-family:'Brush Script MT', cursive;
  font-size: 30px;
  padding-left: 20%;
  text-shadow: 3px 3px 3px black;
  color: #8093F1;
}
.flex-container {
  display: flex;
  background-color: #F7ADC3;
  padding: 10px;
  margin-top: 170px;
  max-width: 1900px;
}
.flex-container > div {
  background-color: #A7C7E7;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
#p1 img {
  width: 250px;
  height: auto;
}
